// Primary Colors
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Font Families
$ff-Open-Sans: "Open Sans", sans-serif;
$ff-Poppins: "Poppins", sans-serif;

// Font Weights
$fw-400: 400;
$fw-600: 600;
